.App {
  padding: 10px;
}

.input-label-main-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  margin-right: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.table {}